@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    /* font-family: 'PT Sans',
        sans-serif; */
    font-family: 'Roboto';

}

:root {
    --dark-color: #000000;
    --light-color: #f1faee;
    --primary-color: #F48C51;

}

.top {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    background: #EB983CDE;
    ;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    /* padding-top: auto; */
    word-spacing: 1px;
}

.navbar-brand {
    margin-left: 2rem;
}

nav ul {
    margin: 0px;
    margin-left: 50px;
    padding: 10px 0px 5px 20px;
}

nav li {
    margin-left: 40px;
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    color: #000000;
    display: inline;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
    color: #000000;
}

.nav-btn {
    width: 200px;
    margin-right: 3em;
    /* color: #ffff; */
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.header-image {
    /* padding-left: 2em; */
    padding: 4em;
}

.exploreprograms {
    background-color: #EB983CDE;
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

}

.exploreprograms:hover {
    color: rgb(100, 98, 98);
}

.headerimage {
    margin: auto;
    padding: auto;
}

.bookslot {
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #F48C51;
    box-sizing: border-box;
    border-radius: 10px;
    color: #F48C51;
}

.bookslot:hover {
    color: #c54c06fa;
}

.second-section {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding: auto; */
}

.greatLeader {
    position: relative;
}

.greatLeaderheading {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif, Impact, 'Arial Narrow Bold', sans-serif;

}

.header3-text {
    /* position: absolute; */
    /* font-size: xx-large; */
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;


}

.header3p {
    /* font-weight: bold; */
    /* position: absolute; */
    font-size: 22px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    /* padding-left: 10rem;
    padding-right: 10rem; */
}

.header-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    /* font-weight: bold;
     */
    font-size: 28px;
}

.card {
    border: none;
}

.card-body {
    background: #FFFFFF;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 15px;
    /* position: relative; */
}

.card-header {
    background: #3371AA;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    /* position: absolute; */
}

.enquire {
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(243, 240, 236);
    font-weight: bold;
}

.bottomquote {
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.footer-above {
    margin-bottom: 2rem;
}

/* footer  */
/* footer  */
.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: 'Langar', 'cursive';
    font-size: large;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.fab {
    color: #f1faee;
}

footer.main-footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}

aside.footer-widget {
    margin-bottom: 25px;
}

aside.footer-widget h4 {
    font-size: 26px;
    padding: 5px;
}

aside.footer-widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

aside.footer-widget ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(236, 236, 236);
    display: inline-block;
    margin-bottom: 5px;
}

.icons {
    /* padding-top: 15px;
    padding-bottom: 15px;
    margin: 35px; */
    display: flex;
    flex: 1;
    justify-content: center;

    color: white;
    font-size: 35px;
    align-items: center;

}

address h2 {
    font-size: 20px;
}

hr {
    border: 3px solid #d1142d;
}


.icons a {
    color: rgba(0, 0, 0, 0.767);
    margin: 25px;
}

.copyright {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 4px;
}

.hearticon,
.fa-heart {
    color: red;
}

/* footer */@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    /* font-family: 'PT Sans',
        sans-serif; */
    font-family: 'Roboto';

}

:root {
    --dark-color: #000000;
    --light-color: #f1faee;
    --primary-color: #F48C51;

}

.top {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    background: #EB983CDE;
    ;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    /* padding-top: auto; */
    word-spacing: 1px;
}

.navbar-brand {
    margin-left: 2rem;
}

nav ul {
    margin: 0px;
    margin-left: 50px;
    padding: 10px 0px 5px 20px;
}

nav li {
    margin-left: 40px;
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    color: #000000;
    display: inline;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
    color: #000000;
}

.nav-btn {
    width: 200px;
    margin-right: 3em;
    /* color: #ffff; */
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.header-image {
    /* padding-left: 2em; */
    padding: 4em;
}

.exploreprograms {
    background-color: #EB983CDE;
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

}

.exploreprograms:hover {
    color: rgb(100, 98, 98);
}

.headerimage {
    margin: auto;
    padding: auto;
}

.bookslot {
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #F48C51;
    box-sizing: border-box;
    border-radius: 10px;
    color: #F48C51;
}

.bookslot:hover {
    color: #c54c06fa;
}

.second-section {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding: auto; */
}

.greatLeader {
    position: relative;
}

.greatLeaderheading {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif, Impact, 'Arial Narrow Bold', sans-serif;

}

.header3-text {
    /* position: absolute; */
    /* font-size: xx-large; */
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;


}

.header3p {
    /* font-weight: bold; */
    /* position: absolute; */
    font-size: 22px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    /* padding-left: 10rem;
    padding-right: 10rem; */
}

.header-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    /* font-weight: bold;
     */
    font-size: 28px;
}

.card {
    border: none;
}

.card-body {
    background: #FFFFFF;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 15px;
    /* position: relative; */
}

.card-header {
    background: #3371AA;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    /* position: absolute; */
}

.enquire {
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(243, 240, 236);
    font-weight: bold;
}

.bottomquote {
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.footer-above {
    margin-bottom: 2rem;
}

/* footer  */
/* footer  */
.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: 'Langar', 'cursive';
    font-size: large;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.fab {
    color: #f1faee;
}

footer.main-footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}

aside.footer-widget {
    margin-bottom: 25px;
}

aside.footer-widget h4 {
    font-size: 26px;
    padding: 5px;
}

aside.footer-widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

aside.footer-widget ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(236, 236, 236);
    display: inline-block;
    margin-bottom: 5px;
}

.icons {
    /* padding-top: 15px;
    padding-bottom: 15px;
    margin: 35px; */
    display: flex;
    flex: 1;
    justify-content: center;

    color: white;
    font-size: 35px;
    align-items: center;

}

address h2 {
    font-size: 20px;
}

hr {
    border: 3px solid #d1142d;
}


.icons a {
    color: rgba(0, 0, 0, 0.767);
    margin: 25px;
}

.copyright {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 4px;
}

.hearticon,
.fa-heart {
    color: red;
}

/* footer */
